body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}

#explorer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width : 100%;
    background-color: #cacaca;
}

#explorer > * {
    margin-right: 1rem;
}

#newObject {
        height: 3rem;
        color: white;
        background-color: #929292;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        cursor: pointer;
    }

#mainCanvas {
    display: block;
    width: 100vw;
    height: calc(100vh - 5.5rem);
    border: none;
    margin: 0;
    padding: 0;
}